In [14]:
import pandas as pd

# Load monitoring from csv
monitoring = pd.read_csv('monitoring.csv', header=None)

# Add columns
monitoring.columns = ['timestamp', 'model', 'solution', 'prompt_tokens', 'completion_tokens']
prompt_pricing={'gpt-3.5':0.0000014, 'gpt-4':0.000028}
completion_pricing={'gpt-3.5':0.0000019, 'gpt-4':0.000056}
# Add cost column for each row
monitoring['prompt_cost'] = monitoring['prompt_tokens'] * monitoring['model'].map(prompt_pricing)
monitoring['completion_cost'] = monitoring['completion_tokens'] * monitoring['model'].map(completion_pricing)
monitoring['total_cost'] = monitoring['prompt_cost'] + monitoring['completion_cost']

#Display
monitoring

,timestamp,model,solution,prompt_tokens,completion_tokens,prompt_cost,completion_cost,total_cost
0,1694787481,gpt-3.5,solution_1,31,336,0.000043,0.000638,0.000682
1,1694787527,gpt-4,solution_1,29,261,0.000812,0.014616,0.015428
2,1694787538,gpt-4,solution_1,33,306,0.000924,0.017136,0.018060
3,1694787552,gpt-4,solution_1,40,357,0.001120,0.019992,0.021112
4,1694787556,gpt-4,solution_1,43,406,0.001204,0.022736,0.023940
...,...,...,...,...,...,...,...,...
109,1694858965,gpt-4,solution_3,1356,105,0.037968,0.005880,0.043848
110,1694858982,gpt-4,solution_3,430,43,0.012040,0.002408,0.014448
111,1694858992,gpt-4,solution_3,459,45,0.012852,0.002520,0.015372
112,1694859016,gpt-4,solution_3,1689,132,0.047292,0.007392,0.054684
113,1694859029,gpt-4,solution_3,1129,80,0.031612,0.004480,0.036092

In [15]:
# Cost per solution
monitoring.groupby('solution').sum()[['prompt_cost', 'completion_cost', 'total_cost']]

            prompt_cost  completion_cost  total_cost
solution
solution_1     0.092191         0.096734    0.188926
solution_2     0.000000         0.000000    0.000000
solution_3     0.143836         0.090944    0.234780